
/* Typography */

@font-face {
  font-family: 'General Sans Semibold';
  src: url('webFonts/GeneralSansSemibold/GeneralSans-Semibold.woff2') format('woff2'), url('webFonts/GeneralSansSemibold/GeneralSans-Semibold.woff') format('woff');
}
@font-face {
  font-family: 'General Sans Medium';
  src: url('webFonts/GeneralSansMedium/GeneralSans-Medium.woff2') format('woff2'), url('webFonts/GeneralSansMedium/GeneralSans-Medium.woff') format('woff');
}
@font-face {
  font-family: 'General Sans Regular';
  src: url('webFonts/GeneralSansRegular/GeneralSans-Regular.woff2') format('woff2'), url('webFonts/GeneralSansRegular/GeneralSans-Regular.woff') format('woff');
}
@font-face {
  font-family: 'General Sans Light';
  src: url('webFonts/GeneralSansLight/GeneralSans-Light.woff2') format('woff2'), url('webFonts/GeneralSansLight/GeneralSans-Light.woff') format('woff');
}

.subtitle{
	font-size: 24px;
	line-height: 32px;
	margin: 10px auto;
	font-weight: 500;
	font-family: 'General Sans Medium', 'Helvetica', 'Arial', sans-serif;
}

.paragraph{
	font-size: 18px;
	line-height: 28px;
	margin: 10px auto;
	font-weight: 400;
	font-family: 'General Sans Regular', 'Helvetica', 'Arial', sans-serif;
}

@media(max-width:767px){
	.subtitle{
		font-size: 18px;
		line-height: 24px;
	}

	.paragraph{
		font-size: 16px;
		line-height: 22px;
	}
}


/* GLOBAL */
body{
  background-color: #fff;
  font-family: 'General Sans Regular', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #2A2A2C;
  margin: 0;
}

header{
  margin: 20px 60px 0;
  border-bottom: .75px solid #D5D7DC;
}


@media(max-width:767px){

  header{
    margin: 20px 20px 0 20px;
  }
	

}


/* NAVIGATION */

.top-navigation .logo a{
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .2px;
  color: #2A2A2C;
  font-family: 'General Sans Semibold', 'Helvetica', 'Arial', sans-serif;
}

.nav-option{
  text-decoration: none;
  color: #2A2A2C;
}

.top-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

#navbar ul{
  list-style: none;
    display: flex;
    margin: 0;
}

.nav-option{
  font-family: 'General Sans Medium', 'Helvetica', 'Arial', sans-serif;
}

li.nav-list{
      margin: 0 0 0 25px;
}

@media(max-width:767px){

  .top-navigation{
    font-size: 12px;
  }

  .top-navigation .logo a{
    white-space: nowrap;
  }

  #navbar ul{
    padding: 0;
  }

  li.nav-list {
    margin: 0 0 0 15px;
  }

}


/* CAROUSEL */

 .brand-logo{
 max-width:  110px;
 max-height: 70px;
margin:  0;

 }

div.carousel-logos{
    padding: 20px;
    margin: 20px 0px 40px -20px !important;
 }

@media(max-width:  490px){
 div.carousel-logos{
    padding: 0 !important;
    margin: 40px -20px !important;
 }
 
 .brand-logo{
 max-width:  110px;
 max-height: 70px;
margin:  0 auto;

 }
}

  div.carousel-logos .slick-track{
   display:  flex;
   align-items:  center;
  }


/* Homepage */

.topSection{
  padding: 50px 60px 20px 60px;
  background: #fff;
}

.welcome-message h1{
  font-size: 36px;
  margin-top: 10px;
}


.main-grid{
  background: #F7F7F8;
  padding: 40px 60px 60px;
}

.sub {
 font-size: 24px;
 margin: 0;
}



.about, .client-list{
  margin: 20px 60px;
  border-top: .75px solid #D5D7DC;
}

.client-list{
  margin-bottom: 60px;
}

.about{
  margin-top: 40px;
  margin-bottom: 60px;
}

.aboutInner, .clientInner{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.leftCol{
  width: 45%;
}

.rightCol{
  font-size: 20px;
  width: 55%;
}

.subHead{
  font-family: 'General Sans Medium', 'Helvetica', 'Arial', sans-serif;
  margin: 0;
}

.aboutMeText{
  margin: -5px 0 0 0;
  line-height: 1.5;
}

.contactList{
  color: #838387;
  line-height: 1.5;
    margin-top: 5px;
}

.contactlink{
  text-decoration: none !important;
  color: Inherit !important;
}

ul.clientList{
  margin: -5px 0 0 0;
  line-height: 1.5;
  list-style: none;
  padding: 0;
}

ul.clientList li:hover{
color: #1A73E8;
}


.clientInner, .aboutInner{
  padding-top: 20px;
}

.dyLogo {
    max-width: 425px;
    margin-bottom: 10px;
}

@media(max-width:767px){

  .topSection{
    padding: 40px 20px 20px;
  }

  .welcome-message h1{
    font-size: 22px;
  }


  .main-grid{
    padding: 30px 20px 20px;
  }

  .sub{
   font-size: 18px;
  }

  .about, .client-list{
    margin: 20px;
  }

  ul.clientList{
    margin-top: -2px;
  }

  .client-list{
        margin: 20px 20px 40px;
  }

  .about{
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .leftCol {
    font-size: 12px;
      width: 130px;
  }

  .rightCol {
    font-size: 14px;
      width: calc(100% - 150px);
  }

  .dyLogo{
    max-width: 310px;
    margin-bottom: 5px;
  }

}


/* Grid Projects */

.works-sub{
  margin-bottom: 20px;
}

.grid-inner{
      display: flex;
    flex-wrap: wrap;
        justify-content: space-between;
}

.projectCard{
    width: calc(33% - 10px);
}

.companyPlacement{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.projectTop{
  margin: 0;
  font-size: 14px;
/*  font-family: 'General Sans Medium', 'Helvetica', 'Arial', sans-serif;*/
  color: #838387;
}

.projectTitle{
  margin: 10px 0 0 0;
  font-size: 18px;
}

.projectInner{
  background: #fff;
  padding: 15px 15px 20px 15px;
}

.projImg{
  background: #F7F7F8;
      max-width: 100%;
}

.comingSoon{
     margin: 30px auto -10px auto;
  text-align: center;
  font-family: 'General Sans Medium', 'Helvetica', 'Arial', sans-serif;
}

@media(max-width:767px){

  .comingSoon{
    margin: 10px auto 20px auto;
  }

  .projectCard{
    width: 100%;
    margin: 0 0 20px 0;
  }

  .projectTitle{
    font-size: 16px;
  }

}


/* Project Template */


.project-parent{
      display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: stretch;
}

.project-parent .projectDetails{
  width: 30%;
  padding: 20px 40px 60px 60px;
}

.projectImagery{
  width: 70%;
  background: #F7F7F8;
  padding: 30px 60px 30px 30px;
}

.projectImg{
  width: 100%;
}

.project-parent .projectDetails .companyPlacement{
margin-bottom: 10px;
}

h2.project-title {
    font-size: 24px;
    margin: 5px 0 10px 0;
}

.project-desc {
    color: #838387;
    line-height: 1.5;
    margin: 20px 0 40px;
}

.kpi{
  display: flex;
    justify-content: space-between;
    border-bottom: .75px solid #D5D7DC;
    padding-bottom: 7.5px;
    margin: 20px 0 25px 0;
}

.kpiTitle{
  color: #838387;
  margin:0;
  font-family: 'General Sans Medium', 'Helvetica', 'Arial', sans-serif;
}


.kpiResult{
  color: #1A73E8;
  margin:0; 
  font-family: 'General Sans Medium', 'Helvetica', 'Arial', sans-serif;
}

h2.project-title {
    font-size: 24px;
    margin: 5px 0 10px 0;
}

.projectToggle{
  margin-bottom: 20px;
}

.toggleInner{
  display: flex;
    background: #fff;
    padding: 3px;
    border-radius: 999px;
    font-size: 14px;
    border: .75px solid #D5D7DC;
    width: 180px;
    line-height: 1;
}

.variantToggle, .controlToggle{
  min-width: 60px;
  text-align: center;
    padding: 8px 15px;
  font-family: 'General Sans Medium', 'Helvetica', 'Arial', sans-serif;
    border-radius: 999px;
    color: #838387;
    cursor: pointer;
}

.activeToggle{
  background: #1A73E8;
  color: #fff;
}

.desktopProjImg{

}

.mobileProjImg{
  display: none;
}

.dtProjInner{
  display: flex;
    max-width: 100%;
}

.dtImgInner{
  max-width: 74%;
    height: 100%;
    padding-right: 15px;
}

.mobileImgInner{
  width: calc(26% - 15px);
    height: 100%;
}

.projectList{
    background: #1A1A1D;
    color: #fff;
    margin: 0;
    padding: 20px 60px 40px;
}

.allWork{
  color: #fff !important;
}

.activeProject{
  text-decoration-line: line-through;
  text-decoration-thickness: .75px; /* Adjust the thickness as needed */
  text-decoration-color: #fff;     /* Optionally, set the color */
  text-decoration-style: solid; 
  color: #fff !important;
  cursor: pointer;
}

.projectList .clientList{
  cursor: pointer;
  line-height: 1.2;
}

.projectList .clientList li{
    margin: 0 0 10px 0;
/*  font-family: 'General Sans Medium', 'Helvetica', 'Arial', sans-serif;*/

}

.project-link-footer{
  text-decoration: none !important;
  color: #fff !important;
  position: relative;
  display: flex;
    width: fit-content;
}

.pageType{
    text-align: right;
    font-size: 10px;
    margin-left: 4px;
      font-family: 'General Sans Medium', 'Helvetica', 'Arial', sans-serif;
      color: #B3B5BA;
    margin-top: 2px;
        text-decoration: none !important;
    display: inline-block;
    position: absolute;
}

a.projectCard{
  text-decoration: none !important;
  color: inherit !important;
}


@media(max-width:767px){


  .project-parent{
    flex-wrap: wrap;
    
  }

  .project-parent .projectDetails{
    width: 100%;    
    padding: 30px 20px 10px;
  }

  .projectImagery{
    width: 100%;
    padding: 30px 20px 40px;
  }

  .projectDetails .companyPlacement{
        margin-top: 0;
    margin-bottom: 10px;
  }

  .allWork{
    font-size: 14px;
  }

  .projectDetails .projectTop{
    font-size: 12px;
  }

  h2.project-title{
    font-size: 20px;
  }

  .project-desc{
    font-size: 14px;
    margin: 15px 0 25px;
  }

  .kpis{
    font-size: 14px;
  }

  .toggleInner{
    margin: 0 auto;
  }

  .desktopProjImg{
    display: none;
  }

  .mobileProjImg{
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    display: block;
  }

  .projectList{
    padding: 10px 20px 40px;
  }

  .projectList .leftCol{
      width: 102px;
  }

   .projectList .rightCol{
      width: calc(100% - 122px);
  }

  .projectList .clientList{
    margin-top: 0;
    max-width: 90%;
  }

  .pageType{
     margin-top: 1px;
     font-size: 9px;
  }
  

}


/* footer */

.footer{
  border-top:  .75px solid #D5D7DC;
    margin: 40px 60px 25px;
}

.footerText{
    font-size: 14px;
    color: #838387;
    margin: 20px auto 25px;
    text-align: center;
}

@media(max-width:767px){
  .footer{
        margin: 30px 20px 20px;
  }

  .footerText{
font-size: 12px;
  }
}
